@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Monoton&family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

#siteTitle {
    
    text-align: center;
    font-family: 'Concert One';
}

#siteBody {
    text-align: center;
    font-family: 'Concert One';
    
    
}

.steps {
    font-size: large;
    text-align: left;
}

.topBar {
    background-color: grey;
    color: white;

}

.header {
    text-align: center;
}

.navbar {
    font-size: x-large;
    display:flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: rgb(34, 74, 147); */
    font-family: 'Open Sans Condensed';
    padding: 1rem;
    margin: 1rem;
    flex-direction: row;
    
    flex-basis: 256px;
    flex-grow: 0;
    flex-shrink: 0;

}

.navButton {
    font-size: x-large;
    box-shadow: 0 2px 5px -2px black;
    background-color: lightgrey;
    cursor: pointer;
}

a:link {
    
    color:black;
    text-decoration: none;
}

a:visited {
    color:black;
    text-decoration: none;
}


.posts {
    display:flex;
    flex-direction: row;
    
    flex-wrap:wrap;
    font-family:'Open Sans' ;
    align-items:flex-start;
    

    /* flex-grow:23%; */
    
}

.post {
    display:flex;
    flex-direction:column;
    /* flex-basis: 250px; */
    /* flex-grow:1; */
    flex-shrink:0;
    margin-bottom: 12px;
    margin-right: 12px;
    border: 5px;
    box-shadow: 5px 10px 10px 3px #888888;
    padding: 1.5rem;
    width: 20rem;
    background-color: lightgray;
    
}

.postTitle {
    width: 30rem;
}

.about {
    font-weight: bold;
    font-size: large;
}

.search {
    display:flex;
    flex-grow:1;
    padding: .5rem;
}